@media screen and (max-width: $lg-width) {

    .header {
        padding: 65px 0 85px 0;
    
        h1 {
            padding: 98px 0 25px 0;
            font-size: 40px;
        }
    
        h4 {
            font-size: 14px;
        }
    }
    
    .menu {
        padding-left: 12px;
    
        ul {
    
            li {
                padding: 0 19px 0 4px;
    
                a {
                    font-size: 14px;
                    margin-left: 46px;
                }
    
                i {
                    width: 29px;
                    height: 29px;
                    font-size: 13px;
                    top: -3px;
                }
            }
        }
    }
}