a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  color: #777;
  margin: 0;
  padding: 0;
  font-size: 15pt;
  height: 100%;
  position: relative;
}

.link {
  border-bottom: 1px dotted #8888;
  color: inherit;
}

.link:hover {
  border: 0;
  color: #E77A6B;
  transition: 0.5s ease;
}

strong {
  font-weight: 600;
}

img {
  border: 6px solid;
  border-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

img:hover {
  opacity: 0.85;
  transition: 0.4s;
}

h2, title {
  font-size: 33px;
  font-weight: 400;
  letter-spacing: 4px;
}

h3, .title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}

.text, p {
  line-height: 33px;
  font-size: 20px;
  text-align: justify;
}

.container {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 82px 0 146px 0;
  border-bottom: solid 2px #e5e5e5;
  box-shadow: inset 0px -8px 0px 0px #fff, inset 0px -10px 0px 0px #e5e5e5;
  text-align: center;
}

.header h1 {
  font-family: "Arvo";
  font-weight: 700;
  letter-spacing: 13px;
  padding: 155px 0 27px 0;
  font-size: 60px;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  color: #E77A6B;
}

.header h4 {
  font-size: 17px;
  letter-spacing: 3px;
  font-weight: 400;
}

.menu {
  padding-left: 20px;
}

.menu ul {
  display: flex;
  flex-direction: row;
}

.menu ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 43px 0 10px;
  position: relative;
  cursor: pointer;
  border: 0;
  color: inherit;
}

.menu ul li:hover a {
  color: #E77A6B;
  transition: 0.5s;
}

.menu ul li:hover i {
  color: white;
  background-color: #E77A6B;
  transition: 0.5s;
}

.menu ul li:last-child {
  padding-right: 0;
}

.menu ul li a {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 3px;
  margin-left: 49px;
}

.menu ul li i {
  background-color: #868686;
  color: #E2E2E2;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.15);
  font-size: 16px;
  position: absolute;
  top: -5px;
  left: 11px;
  padding-bottom: 4px;
}

.section {
  padding: 128px 0 181px 0;
  text-align: center;
}

.section h2 {
  padding-bottom: 57px;
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 92px;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 31%;
}

.gallery-item img {
  width: 100%;
}

.gallery-item .title {
  padding: 74px 0 29px 0;
}

.btn {
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 2px;
  color: white;
  background-color: #E77A6B;
  padding: 20px 47px;
  border-radius: 5px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.15);
}

.btn:hover {
  opacity: 0.85;
  transition: 0.5s;
}

.btn i {
  padding-right: 13px;
}

.banner {
  background-image: url(/img/banner.jpg);
  background-size: cover;
  border-top: solid 2px #e5e5e5;
  border-bottom: solid 2px #e5e5e5;
  box-shadow: inset 0px -8px 0px 0px #fff, inset 0px 8px 0px 0px #fff;
  padding: 200px 0;
  text-align: center;
  color: white;
}

.banner .bracket {
  position: absolute;
  width: 100%;
}

.banner .bracket:before, .banner .bracket:after {
  content: '';
  background-image: url(/img/bracket.svg);
  padding: 70px 28px;
  background-repeat: no-repeat;
  opacity: 0.15;
  display: block;
}

.banner .bracket:before {
  left: 0;
  margin-top: -10px;
}

.banner .bracket:after {
  right: 0;
  transform: scaleX(-1);
  margin-top: -140px;
}

.slogan {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 4px;
  line-height: 60px;
}

.main {
  padding: 19px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main h2 {
  line-height: 57px;
  padding-bottom: 48px;
}

.main a {
  border-bottom: 0;
}

.main h3 {
  padding: 70px 0 29px 0;
}

.main .btn {
  display: inline-block;
  margin-top: 11px;
}

.main .page {
  width: 69%;
  padding-right: 50px;
}

.main .content {
  border-bottom: 2px solid #e5e5e5;
  padding: 101px 0 100px 0;
  margin-bottom: 8px;
}

.main .content:nth-child(2) {
  border-top: 2px solid #e5e5e5;
  border-bottom: 0;
  margin-bottom: 0;
  padding-top: 91px;
}

.main .content img {
  width: 100%;
}

.main .content p {
  padding-bottom: 40px;
}

.sidebar {
  width: 31%;
  padding: 101px 0;
}

.sidebar .mini-post {
  padding-bottom: 52px;
  margin-bottom: 50px;
  border-bottom: 1px solid #E4E4E4;
}

.sidebar .mini-post:nth-child(3) {
  border-bottom: 0;
}

.sidebar .date {
  padding: 9px 17px 10px 17px;
  font-weight: 400;
  color: white;
  background-color: #868686;
  border-radius: 4px;
  font-size: 17px;
  letter-spacing: 2px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.15);
  display: inline-block;
}

.sidebar h3 {
  padding: 46px 0 29px 0;
}

.sidebar .aside {
  padding: 50px 0;
  border-top: 1px solid #E4E4E4;
  box-shadow: inset 0px 8px 0px 0px #fff, inset 0px 10px 0px 0px #e5e5e5;
}

.sidebar .aside h3 {
  padding-bottom: 29px;
}

.sidebar .aside img {
  float: left;
  margin-right: 31px;
  margin-top: 10px;
}

.sidebar .aside p {
  padding-bottom: 39px;
}

.sidebar .excerpt {
  border-bottom: 1px solid #E4E4E4;
  padding: 8px 0 52px 0;
}

.sidebar .excerpt:nth-child(2) {
  border-bottom: 0;
}

.footer {
  text-align: center;
  border-top: 1px solid #E4E4E4;
  padding: 128px 0 0 0;
  background-color: #F0F0F0;
}

.feedback {
  display: flex;
  flex-direction: row;
  padding: 58px 0 84px 0;
  border-bottom: 1px solid #E4E4E4;
}

.feedback .form, .feedback textarea {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 30px;
}

.feedback .form-group {
  width: 50%;
  padding: 2px 26px 0 0;
  text-align: left;
}

.feedback .form-group input, .feedback .form-group textarea {
  font-size: 20px;
  padding: 13px 20px;
  font-family: 'Source Sans Pro';
  font-weight: 100;
  background-color: #F7F7F7;
  border: none;
  box-shadow: -2px -2px 0px 0px rgba(0, 0, 0, 0.1);
}

.feedback .form-group input:focus, .feedback .form-group textarea:focus {
  background-color: white;
}

.feedback .form-group input {
  width: 48%;
}

.feedback .form-group textarea {
  height: 217px;
}

.feedback .form-group .btn {
  display: inline-block;
  margin-top: -4px;
}

.copyring {
  padding: 82px 0 204px 0;
}

.copyring ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.copyring ul li {
  border-left: 1px solid #E4E4E4;
  padding-left: 20px;
  margin-left: 20px;
}

.copyring ul li:nth-child(1) {
  padding-left: 0;
  margin-left: 0;
  border-left: 0;
}

.contacts {
  width: 50%;
  padding-left: 25px;
  text-align: left;
}

.contacts p {
  padding-bottom: 40px;
}

.contacts .address, .contacts .social {
  width: 50%;
  position: relative;
}

.contacts .social {
  padding-left: 24px;
}

.contacts dt {
  position: absolute;
  background-color: #868686;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.15);
  font-size: 16px;
}

.contacts dd {
  display: inline-block;
  cursor: pointer;
  margin: 0 0 41px 60px;
  line-height: 33px;
}

.contacts i {
  color: white;
}

@media screen and (max-width: 1680px) {
  h2, title {
    font-size: 29px;
  }
  h3, .title {
    font-size: 17px;
  }
  .text, p {
    line-height: 28px;
    font-size: 17px;
  }
}

@media screen and (max-width: 1680px) {
  .container {
    width: 1178px;
  }
}

@media screen and (max-width: 1680px) {
  .header {
    padding: 70px 0 127px 0;
  }
  .header h1 {
    padding: 135px 0 23px 0;
    font-size: 52px;
  }
  .header h4 {
    font-size: 15px;
  }
  .menu {
    padding-left: 15px;
  }
  .menu ul li {
    padding: 0 36px 0 3px;
  }
  .menu ul li a {
    font-size: 15px;
  }
  .menu ul li i {
    width: 32px;
    height: 32px;
    font-size: 14px;
  }
}

@media screen and (max-width: 1680px) {
  .section {
    padding: 110px 0 155px 0;
  }
  .section h2 {
    padding-bottom: 46px;
  }
  .gallery {
    padding-bottom: 80px;
  }
  .gallery-item {
    width: 30.5%;
  }
  .gallery-item .title {
    padding: 64px 0 24px 0;
  }
  .gallery-item img {
    height: 54.9%;
  }
  .gallery-item .text {
    text-align: center;
  }
}

@media screen and (max-width: 1680px) {
  .btn {
    font-size: 15px;
    padding: 17px 39px;
  }
}

@media screen and (max-width: 1680px) {
  .banner {
    padding: 173px 0;
  }
  .banner .bracket:before {
    margin-top: -18px;
  }
  .slogan {
    font-size: 35px;
    line-height: 52px;
  }
}

@media screen and (max-width: 1680px) {
  .main {
    padding: 19px 0;
  }
  .main h2 {
    line-height: 50px;
    padding-bottom: 43px;
  }
  .main h3 {
    padding: 59px 0 24px 0;
  }
  .main .btn {
    margin-top: 11px;
  }
  .main .page {
    padding-right: 44px;
  }
  .main .content {
    padding: 85px 0 87px 0;
  }
  .main .content:nth-child(2) {
    padding-top: 77px;
  }
  .main .content p {
    padding-bottom: 33px;
  }
}

@media screen and (max-width: 1680px) {
  .sidebar {
    padding: 86px 0 0 0;
  }
  .sidebar .mini-post {
    padding-bottom: 43px;
    margin-bottom: 45px;
    padding-left: 6px;
  }
  .sidebar .date {
    padding: 7px 14px 8px 14px;
    font-size: 15px;
  }
  .sidebar h3 {
    padding: 40px 0 25px 0;
  }
  .sidebar .aside {
    padding: 42px 0;
    padding-left: 6px;
  }
  .sidebar .aside h3 {
    padding-bottom: 25px;
  }
  .sidebar .aside img {
    margin-right: 26px;
    margin-top: 10px;
  }
  .sidebar .aside p {
    padding-bottom: 32px;
  }
  .sidebar .excerpt {
    padding: 8px 0 43px 0;
  }
}

@media screen and (max-width: 1680px) {
  .footer {
    padding: 110px 0 0 0;
  }
  .feedback {
    padding: 50px 0 72px 0;
  }
  .feedback .form, .feedback textarea {
    padding-bottom: 27px;
  }
  .feedback .form-group {
    padding: 0px 26px 0 0;
  }
  .feedback .form-group input, .feedback .form-group textarea {
    font-size: 17px;
    padding: 12px 16px;
  }
  .feedback .form-group input {
    width: 47.5%;
  }
  .feedback .form-group textarea {
    height: 191px;
  }
  .copyring {
    padding: 74px 0 176px 0;
  }
  .copyring ul li {
    padding-left: 17px;
    margin-left: 17px;
    font-size: 17px;
  }
}

@media screen and (max-width: 1680px) {
  .contacts {
    padding-left: 25px;
  }
  .contacts p {
    padding-bottom: 34px;
  }
  .contacts .social {
    padding-left: 24px;
  }
  .contacts dt {
    width: 28px;
    height: 28px;
    font-size: 14px;
  }
  .contacts dd {
    margin: 0 0 35px 52px;
    line-height: 28px;
    font-size: 17px;
  }
}

@media screen and (max-width: 1280px) {
  h2, title {
    font-size: 26px;
  }
  h3, .title {
    font-size: 16px;
  }
  .text, p {
    line-height: 26px;
    font-size: 16px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    width: calc(100% - 80px);
  }
}

@media screen and (max-width: 1280px) {
  .header {
    padding: 65px 0 85px 0;
  }
  .header h1 {
    padding: 98px 0 25px 0;
    font-size: 40px;
  }
  .header h4 {
    font-size: 14px;
  }
  .menu {
    padding-left: 12px;
  }
  .menu ul li {
    padding: 0 19px 0 4px;
  }
  .menu ul li a {
    font-size: 14px;
    margin-left: 46px;
  }
  .menu ul li i {
    width: 29px;
    height: 29px;
    font-size: 13px;
    top: -3px;
  }
}

@media screen and (max-width: 1280px) {
  .section {
    padding: 70px 0 111px 0;
  }
  .section h2 {
    padding-bottom: 43px;
  }
  .gallery {
    padding-bottom: 66px;
  }
  .gallery-item {
    width: 31.1%;
  }
  .gallery-item .title {
    padding: 59px 0 22px 0;
  }
  .gallery-item img {
    height: 57%;
  }
}

@media screen and (max-width: 1280px) {
  .btn {
    font-size: 14px;
    padding: 17px 36px;
  }
}

@media screen and (max-width: 1280px) {
  .banner {
    padding: 128px 0;
  }
  .banner .bracket:before {
    margin-top: -22px;
  }
  .slogan {
    font-size: 32px;
    line-height: 48px;
    padding: 0 56px;
  }
  .slogan br {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  .main {
    padding: 19px 0;
  }
  .main br {
    display: none;
  }
  .main h2 {
    line-height: 46px;
    padding-bottom: 40px;
  }
  .main h3 {
    padding: 53px 0 24px 0;
  }
  .main .btn {
    margin-top: 8px;
  }
  .main .page {
    padding-right: 41px;
  }
  .main .content {
    padding: 45px 0 79px 0;
  }
  .main .content:nth-child(2) {
    padding-top: 70px;
    padding-bottom: 45px;
  }
  .main .content p {
    padding-bottom: 31px;
  }
}

@media screen and (max-width: 1280px) {
  .sidebar {
    padding: 45px 0 0 0;
  }
  .sidebar .mini-post {
    padding-bottom: 41px;
    margin-bottom: 40px;
    padding-left: 0;
  }
  .sidebar .date {
    padding: 7px 14px 8px 14px;
    font-size: 14px;
  }
  .sidebar h3 {
    padding: 37px 0 23px 0;
  }
  .sidebar .aside {
    padding: 38px 0;
    padding-left: 0;
  }
  .sidebar .aside h3 {
    padding-bottom: 23px;
  }
  .sidebar .aside img {
    margin-right: 23px;
    margin-top: 7px;
    width: 50%;
  }
  .sidebar .aside p {
    padding-bottom: 32px;
  }
  .sidebar .excerpt {
    padding: 8px 0 40px 0;
  }
  .sidebar .excerpt .btn {
    font-size: 13px;
    padding: 16px 37px;
  }
}

@media screen and (max-width: 1280px) {
  .footer {
    padding: 71px 0 0 0;
  }
  .feedback {
    padding: 46px 0 12px 0;
  }
  .feedback .form, .feedback textarea {
    padding-bottom: 20PX;
  }
  .feedback .form-group {
    padding: 0px 20px 0 0;
  }
  .feedback .form-group input, .feedback .form-group textarea {
    font-size: 16px;
    padding: 12px 16px;
  }
  .feedback .form-group input {
    width: 48.2%;
  }
  .feedback .form-group textarea {
    height: 176px;
  }
  .feedback .form-group .btn {
    margin-top: -1px;
  }
  .copyring {
    padding: 36px 0 99px 0;
  }
  .copyring ul li {
    padding-left: 16px;
    margin-left: 16px;
    font-size: 16px;
  }
}

@media screen and (max-width: 1280px) {
  .contacts {
    padding-left: 20px;
  }
  .contacts p {
    padding-bottom: 32px;
  }
  .contacts .social {
    padding-left: 21px;
  }
  .contacts .social dd {
    margin: 0 0 30px 47px;
  }
  .contacts dt {
    width: 26px;
    height: 26px;
    font-size: 13px;
  }
  .contacts dd {
    margin: 0 0 32px 47px;
    line-height: 26px;
    font-size: 16px;
  }
}

@media screen and (max-width: 980px) {
  h2, title {
    font-size: 26px;
  }
  h3, .title {
    font-size: 16px;
  }
  .text, p {
    line-height: 26px;
    font-size: 16px;
  }
}

@media screen and (max-width: 980px) {
  .container {
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 980px) {
  .header {
    padding: 51px 0 117px 0;
  }
  .menu {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  .section {
    padding: 70px 0 111px 0;
  }
  .section h2 {
    padding-bottom: 47px;
  }
  .gallery {
    flex-wrap: wrap;
    padding-bottom: 31px;
  }
  .gallery-item {
    width: 47.1%;
    padding-bottom: 50px;
  }
  .gallery-item:nth-child(3) {
    margin: 0 auto;
  }
  .gallery-item .title {
    padding: 59px 0 22px 0;
  }
  .gallery-item img {
    height: 61%;
  }
}

@media screen and (max-width: 980px) {
  .btn {
    font-size: 14px;
    padding: 17px 36px;
  }
}

@media screen and (max-width: 980px) {
  .banner {
    padding: 128px 0;
  }
  .banner .bracket:before {
    margin-top: 3px;
  }
  .slogan {
    font-size: 32px;
    line-height: 48px;
    padding: 0 56px;
  }
  .slogan br {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  .main {
    padding: 19px 0;
    flex-direction: column;
  }
  .main br {
    display: none;
  }
  .main h2 {
    line-height: 46px;
    padding-bottom: 40px;
  }
  .main h3 {
    padding: 53px 0 24px 0;
  }
  .main .btn {
    margin-top: 8px;
  }
  .main .page {
    padding-right: 0;
    width: 100%;
  }
  .main .content {
    padding: 45px 0 79px 0;
  }
  .main .content:nth-child(2) {
    padding-top: 70px;
    padding-bottom: 45px;
  }
  .main .content p {
    padding-bottom: 31px;
  }
}

@media screen and (max-width: 980px) {
  .sidebar {
    padding: 51px 0 0 0;
    width: 100%;
  }
  .sidebar .mini-post {
    padding-bottom: 41px;
    margin-bottom: 40px;
    padding-left: 0;
  }
  .sidebar .date {
    padding: 7px 14px 8px 14px;
    font-size: 14px;
  }
  .sidebar h3 {
    padding: 37px 0 23px 0;
  }
  .sidebar .aside {
    padding: 38px 0 6px 0;
    padding-left: 0;
  }
  .sidebar .aside h3 {
    padding-bottom: 23px;
  }
  .sidebar .aside img {
    margin-right: 24px;
    margin-top: 7px;
    width: 22.2%;
  }
  .sidebar .aside p {
    padding-bottom: 104px;
  }
  .sidebar .excerpt {
    padding: 8px 0 40px 0;
  }
  .sidebar .excerpt .btn {
    font-size: 13px;
    padding: 16px 37px;
  }
}

@media screen and (max-width: 980px) {
  .footer {
    padding: 71px 0 0 0;
  }
  .feedback {
    padding: 47px 0 6px 0;
    flex-direction: column;
  }
  .feedback .form, .feedback textarea {
    padding-bottom: 26px;
  }
  .feedback .form-group {
    width: 100%;
    padding: 0;
  }
  .feedback .form-group input, .feedback .form-group textarea {
    font-size: 16px;
    padding: 12px 16px;
  }
  .feedback .form-group input {
    width: 48.5%;
  }
  .feedback .form-group textarea {
    height: 176px;
  }
  .feedback .form-group .btn {
    margin-top: -4px;
  }
  .copyring {
    padding: 36px 0 99px 0;
  }
  .copyring ul li {
    padding-left: 16px;
    margin-left: 16px;
    font-size: 16px;
  }
}

@media screen and (max-width: 980px) {
  .contacts {
    width: 100%;
    padding: 50px 0 0 0;
  }
  .contacts p {
    padding-bottom: 32px;
  }
  .contacts .social {
    padding-left: 26px;
  }
  .contacts .social dd {
    margin: 0 75px 30px 47px;
  }
  .contacts dt {
    width: 26px;
    height: 26px;
    font-size: 13px;
  }
  .contacts dd {
    margin: 0 75px 32px 47px;
    line-height: 26px;
    font-size: 16px;
  }
}

@media screen and (max-width: 980px) {
  .navbar {
    position: absolute;
    top: 5px;
    left: 6px;
    font-size: 18px;
    background-color: #E9E9E9;
    padding: 11px 21px;
    border-radius: 5px;
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
}

@media screen and (max-width: 736px) {
  h2, title {
    font-size: 18px;
    letter-spacing: 2px;
  }
  h3, .title {
    font-size: 18px;
  }
  .text, p {
    line-height: 24px;
    font-size: 15px;
  }
}

@media screen and (max-width: 736px) {
  .container {
    width: calc(100% - 40px);
  }
}

@media screen and (max-width: 736px) {
  .header {
    padding: 51px 0 62px 0;
  }
  .header h1 {
    padding: 38px 0 21px 0;
    font-size: 29px;
    letter-spacing: 8px;
  }
  .header h4 {
    font-size: 12px;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 736px) {
  .section {
    padding: 34px 0 59px 0;
  }
  .section h2 {
    padding-bottom: 21px;
  }
  .gallery {
    flex-wrap: wrap;
    padding-bottom: 0;
  }
  .gallery-item {
    width: 100%;
    padding-bottom: 30px;
  }
  .gallery-item:nth-child(3) {
    margin: 0 auto;
  }
  .gallery-item .title {
    padding: 23px 0 18px 0;
  }
  .gallery-item img {
    height: 100%;
  }
}

@media screen and (max-width: 736px) {
  .btn {
    font-size: 12px;
    padding: 16px 36px 17px 36px;
    width: 100%;
    display: block;
  }
  .btn i {
    padding-right: 10px;
  }
}

@media screen and (max-width: 736px) {
  .banner {
    padding: 74px 0;
  }
  .banner .bracket {
    display: none;
  }
  .slogan {
    font-size: 18px;
    line-height: 26px;
    padding: 0 0px;
  }
  .slogan br {
    display: none;
  }
}

@media screen and (max-width: 736px) {
  .main {
    padding: 19px 0 0 0;
    flex-direction: column;
  }
  .main br {
    display: none;
  }
  .main h2 {
    line-height: 30px;
    padding-bottom: 18px;
  }
  .main h3 {
    padding: 17px 0 18px 0;
  }
  .main .btn {
    margin-top: 8px;
  }
  .main .page {
    padding-right: 0;
    width: 100%;
  }
  .main .content {
    padding: 11px 0 43px 0;
    text-align: center;
  }
  .main .content:nth-child(2) {
    padding-top: 33px;
    padding-bottom: 20px;
  }
  .main .content p {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 736px) {
  .sidebar {
    padding: 24px 0 0 0;
    width: 100%;
  }
  .sidebar .mini-post {
    padding-bottom: 38px;
    margin-bottom: 36px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sidebar .mini-post:nth-child(3) {
    padding-bottom: 20px;
    margin-bottom: 15px;
  }
  .sidebar .date {
    padding: 7px 12px 8px 12px;
    font-size: 12px;
  }
  .sidebar h3 {
    padding: 31px 0 19px 0;
  }
  .sidebar .aside {
    padding: 13px 0 0 0;
    padding-left: 0;
    text-align: center;
  }
  .sidebar .aside h3 {
    padding: 0 0 19px 0;
  }
  .sidebar .aside img {
    margin-right: 23px;
    margin-top: 7px;
    width: 28.2%;
  }
  .sidebar .aside p {
    padding-bottom: 87px;
  }
  .sidebar .excerpt {
    padding: 40px 0 36px 0;
  }
  .sidebar .excerpt:nth-child(2) {
    padding-bottom: 30px;
  }
  .sidebar .excerpt .btn {
    font-size: 12px;
    padding: 16px 37px;
  }
}

@media screen and (max-width: 736px) {
  .footer {
    padding: 33px 0 0 0;
  }
  .feedback {
    padding: 24px 0 6px 0;
    flex-direction: column;
  }
  .feedback .form, .feedback textarea {
    padding-bottom: 0;
    flex-direction: column;
  }
  .feedback .form-group {
    width: 100%;
    padding: 0;
  }
  .feedback .form-group input, .feedback .form-group textarea {
    padding: 8px 16px 13px 16px;
    font-size: 15px;
  }
  .feedback .form-group input {
    width: 100%;
    margin-bottom: 15px;
  }
  .feedback .form-group textarea {
    height: 176px;
  }
  .feedback .form-group .btn {
    margin-top: -1px;
    text-align: center;
  }
  .copyring {
    padding: 29px 0 28px 0;
  }
  .copyring ul {
    flex-direction: column;
  }
  .copyring ul li {
    padding-bottom: 5px;
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
    font-size: 15px;
  }
}

@media screen and (max-width: 736px) {
  .contacts {
    width: 100%;
    padding: 30px 0 0 0;
  }
  .contacts p {
    padding-bottom: 29px;
  }
  .contacts .social {
    padding-left: 0;
  }
  .contacts .social dd {
    margin: 0 31px 24px 44px;
  }
  .contacts dt {
    width: 24px;
    height: 24px;
    font-size: 12px;
  }
  .contacts dd {
    margin: 0 31px 28px 44px;
    line-height: 24px;
    font-size: 15px;
  }
}

@media screen and (max-width: 736px) {
  .navbar {
    position: absolute;
    top: 5px;
    left: 6px;
    font-size: 18px;
    background-color: #E9E9E9;
    padding: 11px 21px;
    border-radius: 5px;
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
}

@media screen and (max-width: 480px) {
  .contacts .social dd {
    margin: 0 0px 24px 44px;
  }
  .contacts dd {
    margin: 0 0px 28px 44px;
    line-height: 24px;
    font-size: 15px;
  }
}
