@media screen and (max-width: $md-width) {

    .footer {
        padding: 71px 0 0 0;
    }

    .feedback {
        padding: 47px 0 6px 0;
        flex-direction: column;

        .form, textarea {
            padding-bottom: 26px;
        }

        .form-group {
            width: 100%;
            padding: 0;

            input, textarea {
                font-size: 16px;
                padding: 12px 16px;
            }

            input {
                width: 48.5%;
            }

            textarea {
                height: 176px;
            }

            .btn {
                margin-top: -4px;
            }
        }
    }

    .copyring {
        padding: 36px 0 99px 0;

        ul {
            li {
                padding-left: 16px;
                margin-left: 16px;
                font-size: 16px;
            }
        }
    }
}