@media screen and (max-width: $md-width) {

    .sidebar {
        padding: 51px 0 0 0;
        width: 100%;

        .mini-post {
            padding-bottom: 41px;
            margin-bottom: 40px;
            padding-left: 0;
        }

        .date {
            padding: 7px 14px 8px 14px;
            font-size: 14px;
        }

        h3 {
            padding: 37px 0 23px 0;
        }

        .aside {
            padding: 38px 0 6px 0;
            padding-left: 0;

            h3 {
                padding-bottom: 23px;
            }

            img {
                margin-right: 24px;
                margin-top: 7px;
                width: 22.2%;
            }

            p {
                padding-bottom: 104px;
            }
        }

        .excerpt {
            padding: 8px 0 40px 0;

            .btn {
                font-size: 13px;
                padding: 16px 37px;
            }
        }
    }
}