@media screen and (max-width: $xl-width) {

    .section {
        padding: 110px 0 155px 0;

        h2 {
            padding-bottom: 50px;
        }
    }

    .gallery {
        padding-bottom: 75px;
    }

    .gallery-item {
        width: 30.5%;

        .title {
            padding: 64px 0 24px 0;
        }

        .text {
            text-align: center;
        }

    }
}