@media screen and (max-width: $xl-width) {
    .header {
        padding: 70px 0 127px 0;
    
        h1 {
            padding: 135px 0 23px 0;
            font-size: 52px;
        }
    
        h4 {
            font-size: 15px;
        }
    }
    
    .menu {
        padding-left: 15px;
    
        ul {
    
            li {
                padding: 0 36px 0 3px;
    
                a {
                    font-size: 15px;
                }
    
                i {
                    width: 32px;
                    height: 32px;
                    font-size: 14px;
                }
            }
        }
    }
}