@media screen and (max-width: $xl-width) {

    .sidebar {
        padding: 86px 0 0 0;

        .mini-post {
            padding-bottom: 43px;
            margin-bottom: 45px;
            padding-left: 6px;
        }

        .date {
            padding: 7px 14px 8px 14px;
            font-size: 15px;
        }

        h3 {
            padding: 40px 0 25px 0;
        }

        .aside {
            padding: 42px 0;
            padding-left: 6px;

            h3 {
                padding-bottom: 25px;
            }

            img {
                margin-right: 26px;
                margin-top: 10px;
            }

            p {
                padding-bottom: 32px;
            }
        }

        .excerpt {
            padding: 8px 0 43px 0;
        }
    }
}