@media screen and (max-width: $xs-width) {

    .contacts {

        .social {
        
            dd {
                margin: 0 0px 24px 44px;
            }
        }
    
        dd {
            margin: 0 0px 28px 44px;
            line-height: 24px;
            font-size: 15px;
        }
    }
}